.menu-container{
    padding: 20px;
    width: 80%;
}

.category-section{
    padding: 10px;
    width: 60%;
    margin-bottom: 60px;
}

.category-card{
    min-width: 70px;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    margin-right: 5px;
    padding: 10px 25px;
}

.menu-section{
    padding: 10px
}